<footer>
    <div class="w-full px-8 py-4 bg-neutral-950/95 inset-shadow-xs flex flex-row justify-between items-center text-white">
        <div class="flex flex-row gap-5">
            <div class="w-16  md:w-24">
                <img src="icons/vinil-duquesa.png" alt="vinil exemplo" class="cursor-pointer hover:scale-110 transition-transform duration-300">
            </div>
            <div class="w-16  md:w-24">
                <img src="icons/vinil-sza.png" alt="vinil exemplo" class="cursor-pointer hover:scale-110 transition-transform duration-300">
            </div>
            <div class="w-16  md:w-24">
                <img src="icons/vinil-kanye.png" alt="vinil exemplo" class="cursor-pointer hover:scale-110 transition-transform duration-300">
            </div>
            <div class="w-16  md:w-24">
                <img src="icons/vinil-ariana.png" alt="vinil exemplo" class="cursor-pointer hover:scale-110 transition-transform duration-300">
            </div>
        </div>
        <div class="w-24">
            <img src="icons/voltar.png" alt="voltar ao inicio" class="cursor-pointer hover:scale-110 transition-transform duration-300"
            (click)="rolar('home')">
        </div>
    </div>
</footer>
