<header>
  <div class="absolute top-0 left-0 w-full z-50 px-8 py-4 bg-neutral-950/50 shadow-md flex flex-row justify-between items-center text-white">
    
    <div>
      <h1 class="text-lg md:text-2xl font-black tracking-wider">Catálogo de Albuns</h1>
    </div>
    
    <div class="flex gap-6 font-medium">
      <a class="hover:text-amber-500 transition-colors cursor-pointer">Home</a>
      <a class="hover:text-amber-500 transition-colors cursor-pointer" (click)="rolar('colecao')">Discografia</a>
      <a class="hover:text-amber-500 transition-colors cursor-pointer">Pesquisar</a>
    </div>

  </div>
</header>